
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #6127be;
}
#screen{
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#work-area{
    display: flex;
    position: relative;
}

#title {
    width: 100%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px;
    background-color: rgba(29, 1, 43, 0.363);
    margin-bottom: 20px;
    text-align: center;
}
#title > span{
    color: #f9ca24;
}
#canvas{
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}

#tools-area{
    height: 80px;
    width: 100%;
    background-color: rgba(29, 1, 43, 0.363);
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
}


 
  /* Personalize o seletor de cores */


/* input[type="color"] {
	-webkit-appearance: none;
	border: none;
    background-color: transparent;
	width: 40px;
	height: 40px;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    
}
input[type="color"]::-webkit-color-swatch {
	border: 3px solid #6127be;
    border-radius: 5px;
    
}

input[type="color"]::-webkit-color-swatch:hover {
    border: 3px solid #7a00ff;
} */

#color-galery{
    display: flex;
    align-items: center;
    gap:10px;
    border-right:3px solid #f9ca24;
    padding-right: 20px;
    margin-right:20px;
}
#previous-colors{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

#previous-colors > div{
    height: 20px;
    display: flex;
    gap: 3px;
}
.prev-color{
    width: 20px;
    height: 20px;
    background-color: #ffffff56;
    border: 2px solid #6127be;
    border-radius: 3px;
}
#brush-ajustments {
    height: 82.5%;
    width: 80px;
    position: absolute;
    background-color: rgba(29, 1, 43, 0.363);
    border-radius: 20px;
    right: calc(100% + 20px); /* Ajuste o posicionamento do contêiner */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.slider span{
    height: 20px;
    width: 20px;
    border:3px solid #ffffff;
    background-color: #6127be;
    border-radius: 100%;
}
 
/* .slider #transparent {
    background-color: transparent;
} */
.slider #big{
    height: 30px;
    width: 30px;
}
.slider #small{
    height: 10px;
    width: 10px;
}



.slider [type="range"] {
    -webkit-appearance: none;
    appearance: none;
    writing-mode: vertical-lr;
    direction: rtl;
    width: 16px;
    height: 350px;
    border-radius: 20px;
    background: #ffffff;

    outline: none;
    padding: 0;
    margin: 0;
}

.slider [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6127be;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.slider [type="range"]::-webkit-slider-thumb:hover {
    background-color: #7a00ff;
}

.slider [type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.slider [type="range"]::-moz-range-thumb:hover {
    background: #f0932b;
}


/* Remove border from focus styles */
input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
}

#tools{
    display: flex;
    gap: 10px;
}
.tool > img{
    opacity: .2;
    width: 100%;
}

.tool{
    background-color: #310e57;
    border: 3px solid #6127be;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.tool:hover{
    border-color: #f0932b;
}
#brush img{
    opacity: .8;
    cursor:default;
}

.pcr-app[data-theme=monolith]{
    position: absolute;
    border: 2px solid #6127be;
    background-color: #ffffffc6;
    top: 220px!important;
    left: 0px!important;
    width: 15em!important;
    border-radius: 20px;
    display: flex;
}
.pickr{
    border: 2px solid #6127be;
    border-radius: 5px;
}
.pickr:hover{
    border-color: #f0932b;
}
.color-picker-container{
    position: relative;
}

#eyedropper {
    background-color: #310e57;
    border: 2px solid #6127be;
    border-radius: 100%;
    padding: 7px;
    cursor: pointer;
}
#eyedropper > img{
    opacity: .2;
}
#eyedropper:hover{
    border-color: #f0932b;
}
#eyedropper:hover > img{
    opacity: .8;
}


